@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /*Déclarations police d'écriture*/
@font-face {
	font-family: "Dalek";
	src: url("../fonts/Dalek.ttf");
}
@font-face {
	font-family: "Diogenes";
	src: url("../fonts/DIOGENES.ttf");
}
@font-face {
	font-family: "PackardAntique";
	src: url("../fonts/PackardAntique.ttf");
}

header {
	background: #f4f4f4;
	text-align: center;
	padding: 2em;
}

header img {
	max-width: 96px;
}

.main-title {
	font-size: 2.5em;
	font-family: "Dalek", sans-serif;
}

.add-title{
	font-family: 'Roboto', sans-serif;
}

.bg-members-list{
	background-image: url("../img/paper-3653357.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}
.title-member-list{
	font-family: "PackardAntique", sans-serif;
	text-transform: uppercase;
}
.nb-members-list{
	font-family: "PackardAntique", sans-serif;
}
.members-list{
	font-family: "PackardAntique", sans-serif;
}
.members-list-name{
	font-size: 1.3em;
	margin-bottom: 0;
}

footer {
	margin-top: 2em;
	text-align: center;
	color: #fff;
	background: #f76c6c;
	padding: 0.25em 0;
}
.footer-credits{
	font-family: "Diogenes", sans-serif;
}